.about-container {
    padding-top: 0px;
    margin-bottom: 100px; /* Space between About and Footer */
}

.about-container .main-heading {
    padding-bottom: 25px;
}

.about {
    padding-top: 25px;
    position: relative;
    text-align: center;
    color: rgb(247, 240, 240);
    line-height: 2;
    display: flex;
    flex-wrap: wrap; /* Ensure it wraps nicely */
}

.about .left {
    flex: 1; /* Allow left to take available space */
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: left; /* Align text to the left */
    font-family: 'Poppins', sans-serif;
}

.about .left h1 {
    font-size: 40px;
}

.about .left p {
    font-size: 20px;
    text-align: justify;
    padding-left: 50px;
}

.about .left #span1 {
    font-size: 30px;
    font-weight: bold;
}

.about .right {
    flex: 1; /* Allow right to take available space */
    max-width: 400px; /* Limit the width of the right section */
    margin-left: auto; /* Align right to the end */
    text-align: left; /* Align text to the left */
}

.skills-section {
    padding-top: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-section .skill {
    width: 25%; /* Width of each skill block */
    height: 28%;
    font-size: 16px;
    background-color: rgba(81, 81, 151, 0.678);
}

@media screen and (max-width: 500px) {
    .about {
        flex-direction: column; /* Stack on small screens */
        padding-top: 20px;
        font-size: 18px;
    }

    .about .left {
        font-family: Poppins, sans-serif;
    }

    .skills-section .skill {
        width: 40%; /* Adjust for smaller screens */
    }
}

.about-content {
    font-size: 18px;
    color: #f5efef;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideFromLeft 1s forwards;
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 600px) {
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    p {
        font-size: 10px;
    }

    .skills-section .skill {
        width: 30%;
        font-size: 15px;
        background-color: rgba(81, 81, 151, 0.678);
    }

    .about .right {
        padding-bottom: 30px;
    }
}
