 .about-container{
    padding-top: 0px;
    /* font-family: 'Lato', sans-serif; */
    /* height:calc(100vh - 75px); */
 }
 .about-container .main-heading{
    padding-bottom: 25px;
 }
 .about{
    padding-top: 25px;
    position: relative;
    text-align: center;
    color: rgb(247, 240, 240);
    line-height: 2;
    display: flex;
}
#span2{
    margin-top: 50px;
}
.about .left{
    width:100%;
    display:flex;
    padding-left: 12px;
    flex-direction: column;
    align-items: right;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
}
.about .left h1{
    font-size: 40px;
}
.about .left p{
    font-size: 20px;
    text-align: justify;
    padding-left: 50px;
}
.about .left #span1{
    font-size: 30px;
    font-weight: bold;
    
}
/* .img{
    position: absolute;
    top:2rem;
    right:3rem;
    height: 500px;
    width:500px;
    z-index: -3;
    object-fit:cover;
} */
.about .right{
    display: flex;
    flex-direction: column;
}
.skills-section{
    padding-top: 30px;
    padding-left: 100px;
    display:flex;
    gap:20px;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: red; */
}
.skill{
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-section .skill{
    width:25%;
    height:28%;
    font-size: 16px;
    background-color: rgba(81, 81, 151, 0.678);
}
@media  screen and (max-width:500px) {
    /* .img{
        position: absolute;
        top:1rem;
        right:0;
        height: 400px;
        width:400px;
        z-index: -3;
        object-fit:cover;
    } */
    .about{
        padding-top:20px;
        font-size: 18px;
    }
    .about .left{
        /* padding-left: 20px; */
        font-family:Poppins,sans-serif;
        /* font-family: 'Lato', sans-serif; */
    }
}

.about-content {
    font-size: 18px;
    color: #f5efef;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideFromLeft 1s forwards;
  }

  @keyframes slideFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @media screen and (max-width:600px) {
    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* font-size: ; */
    }
     p{
        font-size: 10px;
        /* background-color: red; */
    }
    .skills-section .skill{
        width:30%;
        font-size: 15px;
        /* background-color: rgb(81, 81, 151); */
        background-color: rgba(81, 81, 151, 0.678);
    }
    .about .right{
        padding-bottom: 30px;
    }
}