.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25%; /* Adjust top padding for better spacing */
    color: white;
    background: #25272b; /* Optional background color */
}

.footer .left {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer .left .location {
    display: flex;
    align-items: center;
}

.location p {
    font-size: 24px;
}

.main-footer {
    font-size: 25px;
    padding-bottom: 25px;
}

.mail, .linkedin {
    font-size: 25px;
    display: flex;
}

.social {
    display: flex;
    gap: 70px;
    padding-top: 25px;
}

.social-link {
    padding-left: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    color: rgb(94, 236, 141);
}
