.footer{
    /* background: linear-gradient(135deg, #152238, #152238); */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:0px 25%;
    color: white;
}
.footer .left{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer .left .location{
    display: flex;
    align-items: center;
}
.location p{
font-size: 24px;
}
.main-footer{
    font-size: 25px;
    padding-bottom: 25px;
}
.mail,.linkedin{
    font-size:25px;
    display: flex;
}
.social{
    display: flex;
    gap: 70px;
    padding-top: 25px;

}
.social-link{
    padding-left: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    color: rgb(94, 236, 141);
}